[Unit]
Description=faasd-containerd

[Service]
MemoryLimit=500M
# Environment="basic_auth=true" # Not tested properly in PR #13, causes runtime error
ExecStart=/usr/local/bin/faas-containerd
Restart=on-failure
RestartSec=10s
WorkingDirectory=/usr/local/bin/

[Install]
WantedBy=multi-user.target
