[Unit]
Description=faasd-containerd

[Service]
MemoryLimit=500M
Environment="secret_mount_path={{.SecretMountPath}}"
Environment="basic_auth=true"
ExecStart=/usr/local/bin/faasd start-provider
Restart=on-failure
RestartSec=10s
WorkingDirectory={{.Cwd}}
RuntimeDirectory=faasd

[Install]
WantedBy=multi-user.target
